* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* root element font size */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* global styles */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}


.form > p {
    line-height: 160%;
    margin: .5rem 0 1.5rem;
}


button {
    padding: .8rem 1rem;
    background-color: purple;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: .5rem;
}



.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper > div {
    padding: 2rem 1rem;
    border: 1px solid rgb(231, 229, 229);
    max-width: 400px;
    border-radius: 1rem;
    background-color: rgb(253, 255, 255);
}

.hidden {
    display: none;
}

.label {
    margin-bottom: 1rem;
}



.input {
    height: 40px;
    border: 1px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .5rem;
    background-color: transparent;
    width: 50%;
    padding: 0 .8rem;
    color:rgb(153, 148, 148);

}

#percent-input {
    width: 100%;
}

input {
    height: 100%;
    border: none;
    width: 100%;
}

input:focus, input:active{
    outline: none;
}

form > div {
    margin-bottom: 1.5rem;
}

.flex-input {
    display: flex;
    gap: 1rem;
}

.wrapper .result {
    max-width: 560px;
}

.indicators {
    display: flex;
    gap: 1rem;
    text-align: center;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: center;
}

.indicators > div {
    padding: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: .5rem;
}

.result p {
    font-weight: 600;
}

.result h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: .8rem;
}

#weight-loss h3, #weight-percent h3 {
    color:rgb(47, 56, 54);
}

#weight-loss {
    background-color: rgb(247, 245, 237);
    color: rgb(214, 190, 93);
}

#weight-percent {
    background-color: rgb(239, 247, 245);
    color: rgb(74, 158, 137);
}


.result {
    width: 640px;
}

#graph {
    transition: fill .5s linear;
}


.arrow {
    font-size: 24px;
    cursor: pointer;
    width: 48px;
    height: 48px;
}


.healthy { background-color: #dff0d8; color: #3c763d; }
.overweight { background-color: #fcf8e3; color: #8a6d3b; }
.underweight { background-color: #f2dede; color: #a94442; }
.obese { background-color: #f2dede; color: #a94442; }


#hover-value {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: none;
    pointer-events: none;
}

.h-update {
    margin-top: 1rem;
}
